<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Calculator</title>
</head>
<body>
<h2>
<form action="calc" style="text-align: center;" name="check">
<h1>Enter Numbers to Check</h1>
<input type="text" name="p1">
<input type="text" name="p2">
<input type="submit" name="check" value="ADDITION">
<input type="submit" name="check" value="SUBTRACTION">
<input type="submit" name="check" value="DIVIDE">
<input type="submit" name="check" value="MULTIPLICATION">

</form>
</h2>
</body>
</html>