<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Enter Employes Data</h1>
<h3>
<form action="data" method="post">
Name: <input type="text" name="name"><br>
Age: <input type="text" name="age"><br>
Designation: <input type="text" name="desig"><br>
Salary: <input type="text" name="sal"><br>

<input type="submit" value="INSERT"><input type="reset" value="RESET">

</form>
</h3>
<h3>
<form action="display" method="post">
<input type="submit" value="DISPLAY">
</form>
</h3>
</body>
</html>